table {
	width: 100%;
}

table td,
table th {
	padding: 0.6rem 0.4rem;
	border-bottom: 0.05rem solid #e7e9ed;
}

hr {
	border: 0.5px solid #eeeeee;
}

#breadcrumbs {
	border-bottom: 1px solid #CCC;
	margin-top: -40px;
}

#footer {
	padding: 0.33rem 1rem;
}

.search-wrapper > form {
	text-align: center;
}

.modular-text {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}

.search-input {
	border-radius: 1rem;
}

.page-toc {
	font-size: 11pt;
	margin-top: 0.8rem;
}

.e-content {
	text-align: justify;
}

.feynman {
	text-align: center;
}
