<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <small>
            © {{ site.author.name|e }}
            <span style="color: #DDD; margin-left: 2rem; margin-right: 2rem;">|</span>
            <a href="/mentions-legales"><i class="fas fa-balance-scale"></i>&nbsp;Mentions légales</a>
        </small>
    </section>
</section>
