<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <small>
            © {{ site.author.name|e }}
            <span style="margin-left: 0.8rem; margin-right: 0.8rem;">|</span>
            <a href="/mentions-legales"><i class="fas fa-balance-scale"></i>&nbsp;Mentions légales</a>
            <span style="margin-left: 0.8rem; margin-right: 0.8rem;">|</span>
            <a href="/contact"><i class="far fa-envelope-open"></i>&nbsp;Me contacter</a>
        </small>
    </section>
</section>
